.main-container {
  position: relative;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.scrolling-wrapper-flexbox::-webkit-scrollbar {
  height: 0.2em;
}

.scrolling-wrapper-flexbox::-webkit-scrollbar-thumb {
  background: #B9BDC1;
  border-radius: 5px;
}

#left-arrow {
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
}

#right-arrow {
  font-size: 15px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 3px;
}

.upper-banner {
  position: absolute; 
  top: 0; 
  left: 0; 
  margin: 4px; 
  background-color: #FFAE1C; 
  padding: 3px; 
  border-radius: 4px; 
  color: white; 
  font-family: 'Source Sans Pro', sans-serif; 
  font-size: 12px;
}

.left-arrow-button {
  position: absolute; 
  top: 50%; 
  left: 2%; 
  transform: translateY(-50%);
}

.right-arrow-button {
  position: absolute; 
  top: 50%; 
  right: 2%; 
  transform: translateY(-50%);
}

.arrow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid lightgray;
  background-color: white;
}

.card {
  transform: rotate(0deg);
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  box-shadow: 0px 4px 8px 0 rgba(0.2, 0.2, 0.1, 0.1);
  border-radius: 8px;
  width: 250px;
  text-align: center;
  font-family: arial;
  padding: 10px;
  border: 2px;
  border-color: black;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 20px;
  border: 1px solid white;
  margin-top: 25px;
}

.card:hover {
  cursor: pointer;
  border: 1px solid lightgray;
}

.disccount {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  margin-top: 20px;
  background-color: #27445F;
  font-size: 12px;
  padding: 3px;
  border-radius: 5px;
  color: white;
}

p {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 5px;
}

.card button:hover {
  opacity: 0.9;
}

.main-product-image {
  width:100px; 
  height:auto;
}

.main-content-price {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.main-content-shop-button {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  cursor: pointer;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.main-content-expiration-date {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  color: gray;
  padding-top: 5px;
}


@media (max-width: 768px) {
  .scrolling-wrapper-flexbox::-webkit-scrollbar {
    height: 0em;
  }
  
  .scrolling-wrapper-flexbox::-webkit-scrollbar-thumb {
    background: #B9BDC1;
    border-radius: 50vw;
  }
  
}